<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{/{id}/edit(id = ${user.id})}">Update</a></td>
        <td><form th:method="delete" th:action="@{/{id}(id = ${user.id})}">
            <input type="submit" value="Delete"/>
        </form></td>
    </tr>
</table>
<br/> <br/> <a href="/form">New user</a>

</body>
</html>